* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Microsoft YaHei";
}
.center {
    text-align: center;
}
header {
    height: 10%;
    padding: 1%;
    background-color: #000;
}
header img{
    height: 35px;
    margin: 1px 10px;   
}
header h1{
    display: inline-block;
    color: #fff;
    margin:  auto;
}
footer {
    height: 5%;
    width: 100%;
    border-top: 1px solid #c1c1c1;
    position: absolute;
    bottom: 0;
}
footer h5 {
    margin: auto;
}
#main-body {
    width: 100%;
}
#main-body h3{
    margin: 1% 0;
    padding: 2px 0;
    border-bottom: 2px solid #000;
    width: 200px;
}
#main-body #leaving-message {
    width: 100%;
    position: absolute;
    bottom: 8%;
}
#main-body input {
    display: block;
    margin: 3px auto;
}
.stext {
    width: 50%;
    padding: 5px;
    border: 1px solid #c1c1c1;
}
textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #c1c1c1;
}
input[type="submit"] {
    width: 10%;
    height: 15%;
    padding: 5px;
    border-radius: 5%;
    background-color: #23ac2f;
    color: #fff;
}
.message span{
    color: #c1c1c1;
    font-style: italic;
}
.message {
    margin-bottom: 10px; 
}