* {
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    height: 10%;
    padding: 0px 1%;;
    background-color: #000;
}
header img{
    height: 80%;
    width: 4%;
    
}
header h1{
    display: inline-block;
    color: #fff;
    margin:  auto;
}
