<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="zh-cmn-Hans">
    <meta name="keywords" content="message,board">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="favicon.ico">
    <title>Message Board</title>

    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
    <body>
        <header>
            <img src="logo.png">
            <h1>Message Board</h1>

            <div id="leaving-message">
                    <button class="btn btn-success leaving" data-toggle="modal" data-target="#myModal">
                            Leaving Message
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Leaving Your Message
                                        </h4>
                                    </div>
                                    <form class="center" action="" method="POST">
                                        <div class="modal-body">
                                            
                                                <input type="email" class="stext" id="email" placeholder="YOUR EMAIL ADDRESS">
                                                <textarea id="y-message" placeholder="YOUR MESSAGE" rows="5"></textarea>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-success btn-block" data-dismiss="modal" value="Send">
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="clearfix"></div>

        </header>

        <div id="main-body">

            <h3>Messages</h3>
            <div id="textArea">
                <div class="message">
                    <p><span>734113510@qq.com &nbsp;&nbsp; 2017.08.03 &nbsp; 12:38:33</span></p>
                    <p>白杨树，落叶乔木，即落白杨，一般高5~15米，树冠宽阔，树干白色，树皮白色至灰白色，基部常粗糙。小枝披白绒毛。萌发枝和长枝叶宽,卵形，掌状3~5浅裂，长5~10厘米，宽3~8厘米，顶端渐尖，基部楔形、圆形或近心形，幼时两面披毛，后仅背面披毛；短枝叶卵圆形或椭圆形，长4~8厘米，宽2~5厘米。</p>
                </div>

                <div class="message">
                    <p><span>734113510@qq.com &nbsp;&nbsp; 2017.08.03 &nbsp; 12:38:33</span></p>
                    <p>白杨树，落叶乔木，即落白杨，一般高5~15米，树冠宽阔，树干白色，树皮白色至灰白色，基部常粗糙。小枝披白绒毛。萌发枝和长枝叶宽,卵形，掌状3~5浅裂，长5~10厘米，宽3~8厘米，顶端渐尖，基部楔形、圆形或近心形，幼时两面披毛，后仅背面披毛；短枝叶卵圆形或椭圆形，长4~8厘米，宽2~5厘米。</p>
                </div>
                
                
            </div>

        </div>

        <footer class="center">
            <h5>
                &copy; 2017 by berry huang
            </h5>
        </footer>
    </body>
</html>
